<!-- Headline Section -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 p-4 mt-3 intro">
        <h1>RXDB Platform</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut
          labore et dolore magna aliqua.
        </h2>
        <a class="btn">Download Now</a>
      </div>
      <div class="col-12 col-md-6 intro">
        <img src="assets/img/headline-img.png" alt="RXDB intro logo">
      </div>
    </div>
  </div>
</header>

<!-- Feature Section -->
<section class="features">
  <div class="container">
    <div class="d-inline-block text-center py-5 feature">
      <img src="assets/img/feature-1.png" alt="Feature 1">
      <p>An awesome feature</p>
    </div>
    <div class="d-inline-block text-center py-5 feature">
      <img src="assets/img/feature-2.png" alt="Feature 2">
      <p>An awesome feature</p>
    </div>
    <div class="d-inline-block text-center py-5 feature">
      <img src="assets/img/feature-3.png" alt="Feature 3">
      <p>An awesome feature</p>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="about">
  <h2 class="about">About</h2>
  <div class="row mt-1">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8 details">
      <p class="text-muted"><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
</section>

<!-- Developers Section -->
<section class="team">
  <h2 class="team">Team</h2>
  <div class="row rowspan">
    <div class="col-12 col-md-3 p-5 mt-4 thumbnail">Thumbnail</div>
    <div class="col-12 col-md-3 p-5 mt-4 thumbnail">Thumbnail</div>
    <div class="col-12 col-md-3 p-5 mt-4 thumbnail">Thumbnail</div>
    <div class="col-12 col-md-3 p-5 mt-4 thumbnail">Thumbnail</div>
  </div>
  <div class="row rowspan">
    <div class="col-12 col-md-3 p-5 "></div>
    <div class="col-12 col-md-3 p-5 mt-2 mb-2 thumbnail">Thumbnail</div>
    <div class="col-12 col-md-3 p-5 mt-2 mb-2 thumbnail">Thumbnail</div>
    <div class="col-12 col-md-3 p-5"></div>
  </div>
</section>

<!-- Register Section -->
<section class="register">
  <h2 class="register">Sign Up</h2>
  <div class="row">
    <div class="col-12">
      <div class="form-row">
        <div class="col-12 mt-5 details">
          <div class="form-group">
            <label for="fName">Full Name</label>
            <input type="text" id="fName" class="form-control" required>
          </div>
        </div>
        <div class="col-12 mb-4 details">
          <label for="eMail">Email Address</label>
          <input type="email" id="eMail" name="email" class="form-control" required>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="rxdb-footer">
  <h2>Contacts</h2>
  <div class="mh-row container">
    <section class="mh-xs-12 company">
      <div class="row">
        <div class="col-12 mt-3">
          <a href="/">
            <img class="rxdb-logo-footer" src="assets/img/rxdb-logo.png" alt="RXDB logo" width="80" height="50">
          </a>
          <p>Online Pharmacy Management Tool</p>
        </div>
      </div>
    </section>
    <section class="mh-xs-12 nav-container">
      <div class="mh-row navRow">
        <div class="mh-lg-6 mh-md-12 mh-xs-12 navhead-one">
          <h6 class="nav-title">Nav Head</h6>
          <ul class="nav-list navheads">
            <li><a href="">Nav child</a></li>
            <li><a href="">Nav child</a></li>
            <li><a href="">Nav child</a></li>
            <li><a href="">Nav child</a></li>
            <li><a href="">Nav child</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="bottom">
      <hr>
      <div class="row">
        <div class="col-12 col-md-4 p-3 content">
          <h6>Disclaimer</h6>
        </div>
        <div class="col-12 col-md-4 p-3 content">
          <h6>Privacy Policy</h6>
        </div>
        <div class="col-12 col-md-4 p-3 content">
          <h6>Terms and Conditions</h6>
        </div>
      </div>
    </section>

  </div>
</footer>
